@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Rock+Salt&display=swap');

$royalBlue: #031a6b;
$darkMidnightBlue: #033860;
$cerulean: #087ca7;
$darkCerulean: #087ca7;
$cyanProcess: #05b2dc;