.header {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  background-color: $royalBlue;
  color: white;
  .header-container-title{
    font-family: 'Rock Salt', cursive;
    font-size: 30px;
    padding: 5px;
  }
  .navigation-bar{
    display: flex;
    text-decoration: none;
    padding: 20px;

  }
  .nav-link{
    color: white;
    text-decoration: none;
  }
  .nav-container{
    text-decoration: none;
  }
  .nav-button{
    background-color: $darkCerulean;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: none;
  }
}